html, body {
    margin: 0;
    padding: 0;

    /*font-family: Arial;*/
    font-family: 'Karla', sans-serif;
}

.calendar_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    width: 100%;
}

.calendar_griditem {
    width: 100%;
    min-width: 137px;
    height: 120px;
    border: 1px solid black;

    padding: 10px;

    text-align: right;
    box-sizing: border-box;
}

.griditem_empty{
    border: 0px;
    background: repeating-linear-gradient(
            135deg,
            #f7f7f7,
            #f7f7f7 10px,
            #e2e2e2 10px,
            #e2e2e2 20px
    );
}

.calendar_head {
    width: 100%;
    padding-right: 10px;

    font-weight: bold;
    text-align: right;
    box-sizing: border-box;
}
.month_nav{
    display: flex;
    width:100%;
    min-width: 989px;
    justify-content: space-between;

    margin-bottom: 1em;
}

.month_nav a:hover {
    color: #F60000;
}

a, a:visited {
    color: black;
    text-decoration: none;
}

.no-border{
    border: 0px;
}

#headerbox {
    width: 100%;
    text-align: center;
}

#filterbox{
    padding-left: 10px;
}

#sidebar {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    background-color: #00003E;
    color: white;

    padding-top: 20px;
    overflow:hidden;
}

#contentcontainer{
    width: 80%;
    margin-left: 80px;
    padding: 0px 10px;
}

nav li {
    vertical-align: middle;
    align-items: center;
    text-align: center;
    display: block;


    list-style-type: none;
    margin-bottom: 1em;
    padding: 1em;
}

nav li:hover {
    color: #F60000;
    background-color: #223254;
}

nav {
    margin-top: 1em;
}

nav ul {
    margin:0;
    padding:0;
}

nav a:visited, nav a {
    color:white;
}

.event_listing {
    margin-top: 4px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event_listing:hover {
    background-color: #e2e2e2;
}

.event_time {
    font-style: italic;
}

#editform {
    width: 20em;
}

#editform form {
    display: flex;
    flex-direction: column;

}

input[type="date"], input[type="time"] {
    font-size: 1em;
}